.Header {
  display: flex;
  border-bottom: 2px solid black;
  min-height: 50px;
  align-items: center;
}

.AppBar {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}
